asgiref==3.11.1
Django==6.0.2
django-cors-headers==4.9.0
django-environ==0.12.1
django-phonenumber-field==8.4.0
django-unfold==0.79.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
phonenumbers==9.0.24
pillow==12.1.1
PyJWT==2.11.0
sqlparse==0.5.5
tzdata==2025.3
python-decouple==3.8
cloudinary==1.43.0
django-cloudinary-storage==0.3.0
google-auth==2.38.0
firebase-admin==6.5.0
